@import url('https://fonts.googleapis.com/css?family=Vollkorn');

body {
	font-family: Vollkorn;
	padding: 2em;
	max-width: 48em;
	margin: auto;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}
h2 {
	font-size: 1.4em;
	font-weight: bold;
}

h3 {
	font-weight: bold;
}

ul {
	list-style-type: disc;
	padding: 0.5em 0 0.5em 4em;
}

li {
	padding: 0.5em;
}

strong {
	font-weight: bold;
}

p {
	margin-bottom: 1em;
}
p::last-child {
	margin-bottom: 0;
}

.dim {
	opacity: 0.65;
}